*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: sans-serif;
    background: linear-gradient(0.25turn, #0fd6cc, rgb(20, 153, 170));
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
    background: linear-gradient(0.25turn, #0fd6cc, rgb(20, 153, 170));
    padding: 0 !important;
}
.navbar-brand img
{
    height: 70px;
    padding-left: 20px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    color: black !important;
    font-weight: 600;
}
.button {
    background-color: rgba(36, 156, 172, 0.8);
    color: white;
    padding: 14px 20px;
    margin: auto;
    border: none;
    width: 100%;
}
button:hover {
    opacity: 0.8;
} 

#content{
    width: 50%;
    margin: 20px auto;
    border: 1px solid #cbcbcb;
}
form{
    width: 50%;
    margin: 20px auto;
}
form div{
    margin-top: 5px;
}
#img_div{
    width: 80%;
    padding: 5px;
    margin: 15px auto;
    border: 1px solid #cbcbcb;
}
#img_div:after{
    content: "";
    display: block;
    clear: both;
}
img{
    float: left;
    margin: 5px;
    width: 300px;
    height: 140px;
}
.industry
{
    padding-top : 2%;
    padding-right :80%;

}
.Pbutton {
    background-color: #E4E4E4;
    color: #12ABB4;
    padding: 14px 20px;
    margin: auto;
    border: none;
    width: 100%;
    font-weight: bold;
}